.App {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 150px);
    width:80%;
    margin: auto;
    grid-template-areas: 
        "name      name      name          about    about"
        "abilities abilities inspProf      physical spells"
        "abilities abilities  saving-throws tbd      spells"
        "abilities abilities  saving-throws tbd      actions" 
        "abilities abilities  skills        tbd      actions"
}

.number-input {
    width: 50px;
}

/**** abilities ****/
.abilities-div {
    grid-area: abilities;
}

.ability-div {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.ability-input {
    width: 50px;
}
/**** abilities ****/

/**** inspProf ****/
.prof-insp-div {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-area: inspProf;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "inspTitle  inspValue"
        "profTitle  profValue"
}

.insp-input {
    width: 50%;
    height: 50%;
}

.prof-input {
    width: 50%;
    height: 50%
}

/**** inspProf ****/

/**** saving-throws ****/
.saving-throws-div {
    display: grid;
    /* align-items: center;
    justify-items: center; */
    grid-area: saving-throws;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 40px);
}

.saving-throw-edit-div {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}
/**** saving-throws ****/

/**** Round Switch ****/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 28px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/**** Round Switch ***/
